extends ../../layouts/default

block content
    ul
        each post in posts
            li
                a(href='/posts/#{post.slug}', title='#{post.title}')
                    h2=post.title
                div=post.date
                a(href='/posts/#{post.id}/edit') edit
                span | 
                a(href='/posts/new') new
                div!=post.body